[Unit]
Description=netledPi network activity indicator
Requires=pigpiod.service
After=network.target pigpiod.service


[Service]
Type=forking
ExecStart=/usr/local/bin/netledPi -p 23 -d

[Install]
WantedBy=default.target
